<div>
    <form class="form-inline my-2 my-lg-0">
        <input ng-change="search()"
               ng-model="searchPhrase"
               class="form-control border-success mr-sm-2"
               type="search"
               placeholder="Search">
        <button ng-click="searchGlobal()"
                data-toggle="tooltip"
                title="Search both Decks and Cards"
                class="btn btn-outline-success my-2 my-sm-0"
                type="button">
            Full Search
        </button>
    </form>
</div>
