<div class="card-footer" ng-hide="editing">
    <button ng-if="!creating"
            ng-click="toggleEdit()"
            class="btn btn-sm btn-primary btn-oval"
            data-toggle="tooltip"
            title="Edit">
        <i class="fas fa-edit"></i>
    </button>
    <button ng-if="creating"
            id="createButton"
            ng-click="toggleEdit()"
            class="btn btn-sm btn-success btn-oval"
            data-toggle="tooltip"
            title="Add">
        <i class="fas fa-plus"></i>
    </button>
</div>
