<div>
    <div ng-hide="editing"
         class="card {{ creating ? 'bg-secondary' : 'bg-dark' }} text-white mb-3">
        <div class="card-header">
            <span ng-if="!isFlashCard || creating">&nbsp;</span>
            <div ng-if="isFlashCard && !creating"
                 class="custom-control custom-switch">
                <input type="checkbox"
                       class="custom-control-input"
                       id="toggle{{ id }}"
                       ng-click="toggleShow()">
                <label class="custom-control-label"
                       for="toggle{{ id }}"
                       data-toggle="tooltip"
                       title="Show/Hide">
                    <i ng-show="showDescription" class="fas fa-eye"></i>
                    <i ng-hide="showDescription" class="fas fa-eye-slash"></i>
                </label>
            </div>
        </div>
        <div class="card-body">
            <div ng-if="!creating">
                <div ng-if="!isFlashCard">
                    <a href="/decks/{{ id }}">
                        <h3 class="card-title text-white">{{ title }}</h3>
                    </a>
                </div>
                <div ng-if="isFlashCard">
                    <h3 class="card-title text-white">{{ title }}</h3>
                    <p class="card-text" ng-show="showDescription">{{ text }}</p>
                </div>
            </div>
            <div ng-if="creating">
                <a ng-click="toggleEdit()" role="button" href="">
                    <h3 class="card-title text-white">Add New {{ isFlashCard ? 'Card' : 'Deck' }}</h3>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <button ng-if="!creating"
                    ng-click="toggleEdit()"
                    class="btn btn-sm btn-primary btn-oval"
                    data-toggle="tooltip"
                    title="Edit">
                <i class="fas fa-edit"></i>
            </button>
            <button ng-if="creating"
                    id="createButton"
                    ng-click="toggleEdit()"
                    class="btn btn-sm btn-success btn-oval"
                    data-toggle="tooltip"
                    title="Add">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <form ng-show="editing" name="editCardForm">
        <div class="card text-white mb-3
                    {{ deleting ? 'bg-danger' : ( creating ? 'bg-success' : 'bg-info') }}">
            <div class="card-header">
                &nbsp;
            </div>
            <div class="card-body">
                <input id="{{ creating ? 'createInput' : 'editTitleInput' + id }}"
                       type="text"
                       class="card-title form-control"
                       ng-model="title"
                       placeholder="Title"
                       required />
                <textarea rows="3" ng-show="isFlashCard"
                          class="card-text form-control"
                          ng-model="text"
                          placeholder="Description"
                          ng-required="isFlashCard">
                </textarea>
            </div>
            <div class="card-footer">
                <div ng-if="creating">
                    <div class="btn-group">
                        <button type="submit" ng-click="create(editCardForm)"
                                class="btn btn-sm btn-success btn-circle"
                                data-toggle="tooltip"
                                title="Save">
                            <i class="fas fa-check"></i>
                        </button>
                        <button type="reset"
                                ng-click="toggleEdit()"
                                class="btn btn-sm btn-dark btn-circle"
                                data-toggle="tooltip"
                                title="Cancel">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>
                </div>
                <div ng-if="!creating">
                    <div ng-hide="deleting" class="btn-group">
                        <button type="submit" ng-click="save(editCardForm)"
                                class="btn btn-sm btn-success btn-circle"
                                data-toggle="tooltip"
                                title="Save">
                            <i class="fas fa-check"></i>
                        </button>
                        <button ng-click="toggleDelete()"
                                class="btn btn-sm btn-danger btn-circle"
                                data-toggle="tooltip"
                                title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button ng-click="toggleEdit()"
                                class="btn btn-sm btn-dark btn-circle"
                                data-toggle="tooltip"
                                title="Cancel">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>
                    <div ng-show="deleting">
                        <h6 class="d-inline">Are you sure?</h6>
                        <div class="btn-group">
                            <button type="button" ng-click="confirmDelete()"
                                    class="btn btn-sm btn-danger btn-circle"
                                    data-toggle="tooltip"
                                    title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button ng-click="toggleDelete()"
                                    class="btn btn-sm btn-dark btn-circle"
                                    data-toggle="tooltip"
                                    title="Cancel">
                                <i class="fas fa-undo"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
