<div class="container">
    <button ng-click="vm.scrollToAddNewDeck()" class="btn btn-success btn-oval mb-3" data-toggle="tooltip" title="Add New Deck">
        <i class="fas fa-plus"></i>
    </button>

    <h1>All Decks</h1>
    <br />

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="card-deck">
                <fc-deck ng-repeat="deck in vm.decks" deck="deck"
                         edit-function="vm.editDeck(deck)"
                         delete-function="vm.deleteDeck(deck)">
                </fc-deck>
                <fc-deck-create id="addNewDeck" deck="vm.newDeck" save-function="vm.createDeck(vm.newDeck)"></fc-deck-create>
            </div>
        </div>
    </div>
</div>
