<div class="container">
    <h1>All Decks</h1>
    <br />

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="card-deck">
                <fc-deck ng-repeat="deck in vm.decks" deck="deck"
                         edit-function="vm.editDeck(deck)"
                         delete-function="vm.deleteDeck(deck)">
                </fc-deck>
                <fc-deck-create></fc-deck-create>
            </div>
        </div>
    </div>

</div>