<div>
    <div ng-hide="editing"
         class="card bg-dark text-white mb-3">
        <div class="card-header">
            <span ng-hide="flashCardId">&nbsp;</span>
            <div ng-show="flashCardId"
                 class="custom-control custom-switch">
                <input type="checkbox"
                       class="custom-control-input"
                       id="toggle{{ flashCardId }}"
                       ng-click="toggleShow()">
                <label class="custom-control-label"
                       for="toggle{{ flashCardId }}"
                       data-toggle="tooltip"
                 title="Show/Hide">
                    <i ng-show="showDescription" class="fas fa-eye"></i>
                    <i ng-hide="showDescription" class="fas fa-eye-slash"></i>
                </label>
            </div>
        </div>
        <div class="card-body">
            <a href="{{ link }}">
                <h3 class="card-title text-white">{{ title }}</h3>
            </a>
            <p class="card-text" ng-show="showDescription" >{{ text }}</p>
        </div>
        <div class="card-footer">
            <button ng-click="toggleEdit()"
                    class="btn btn-sm btn-primary"
                    data-toggle="tooltip"
                    title="Edit">
                <i class="fas fa-edit"></i>
            </button>
        </div>
    </div>

    <div ng-show="editing"
         class="card bg-info text-white mb-3">
        <div class="card-header">
            &nbsp;
        </div>
        <div class="card-body">
            <input class="card-title form-control" ng-model="title"/>
            <textarea rows="3" ng-show="flashCardId"
                   class="card-text form-control" ng-model="text">
            </textarea>
        </div>
        <div class="card-footer">
            <button type="button" ng-click="save()"
                    class="btn btn-sm btn-success"
                    data-toggle="tooltip"
                    title="Save">
                <i class="fas fa-check"></i>
            </button>
            <button ng-click="startDelete()"
                    class="btn btn-sm btn-danger"
                    data-toggle="tooltip"
                    title="Delete">
                <i class="fas fa-trash"></i>
            </button>
            <button ng-click="toggleEdit()"
                    class="btn btn-sm btn-dark"
                    data-toggle="tooltip"
                    title="Cancel">
                <i class="fas fa-undo"></i>
            </button>
        </div>
    </div>

</div>
